/* Created by: Clara Tyman
* Created on: March 2024
* This file contains the CSS for index.html
*/

body {
  background-color: rgb(214 181 236);
}

.content {
  padding-left: 10px;
  padding-right: 10px;
}

.column {
  float: left;
  width: 50%;
}

.area-formula {
  width: 400px;
}

.formula {
  font-size: larger;
}

.mdl-layout-title {
  padding-left: 450px;
}